---
// Redirect root to default locale (static: use meta refresh; Vercel can also use vercel.json redirect)
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/fr/" />
    <link rel="canonical" href="https://www.somice.ch/fr/" />
    <title>SoMICE – Redirection</title>
  </head>
  <body>
    <p>Redirection vers <a href="/fr/">SoMICE</a>…</p>
  </body>
</html>
